{% extends "base.html" %}

{% block contenido %}
<div class="resultado-container">
    <p><strong>Invernadero:</strong> {{ invernadero.nombre }}</p>
    <p><strong>Plan de riego:</strong> {{ plan_nombre }}</p>
    <p><strong>Tiempo total:</strong> {{ tiempo_total -1}} segundos</p>

    <h3>Drones</h3>

    {% for dron in drones %}
        <div class="card">
            <h4>{{ dron.nombre }} (Hilera {{ dron.hilera_asignada }})</h4>
            <p><strong>Agua usada:</strong> {{ dron.agua_usada }} L</p>
            <p><strong>Fertilizante usado:</strong> {{ dron.fertilizante_usado }} g</p>
            <p><strong>Pasos ejecutados:</strong></p>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paso in dron.pasos %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ paso }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p style="color:#666; text-align:center;">No hay drones registrados.</p>
    {% endfor %}

    <br>

    <div class="card p-3 mt-3">
        <center>
            <h4 style="font-size: 20px;">Archivos de salida</h4>
            <br>
            <!-- Descargar XML del plan -->
            <a href="{{ url_for('descargar_xml') }}" class="btn btn-spaced">
                Descargar XML del plan
            </a>
            <!-- Descargar XML Global -->
            <a href="{{ url_for('descargar_xml_global') }}" class="btn btn-spaced">
                Descargar XML Global
            </a>
            <!-- Ver reporte en navegador -->
            <a href="{{ url_for('ver_archivo', filename=reporte) }}" class="btn btn-spaced" target="_blank">
                Ver Reporte HTML
            </a>
            <!-- Ver reporte del TDA -->
            <a href="{{ url_for('reporte_tda', numero_plan=plan_numero) }}" class="btn btn-spaced">
                Ver reporte de TDA (Graphviz)
            </a>
        </center>
    </div>

    <div style="margin-top: 2rem; text-align: center;">
        <a href="{{ url_for('inicio') }}" class="btn" style="background-color: #6c757d;">
            Volver al inicio
        </a>
    </div>
</div>
{% endblock %}